{% load static %}

<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color: #d3edc5;">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'simja:index' %}">
            <img src="{% static 'img/logo_img.png' %}" alt="logo_img" style="width: 150px; height: auto;">
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'simja:index' %}">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">문의</a>
                </li>

                <!-- login & logout -->
                <li class="nav-item">
                    <a class="nav-link" href="#">로그인</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
